
@import 'reset.css';


body, html {
	height: 100%;
}

body {
	font-family: "Open Sans", arial, x-locale-body, sans-serif;
}

div#game {
	@import 'bins';
	@import 'bombs';

	.score {
		position: absolute;
		left: 25px;
		top: 25px;
		font-family: monospace;
	    font-size: 2em;
	    color: #666;
	}

	text-align: center;
	height: 100%;

}

