div.bins-container {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
	
	div.bin {
		width: 12vw;
		height: 100%;
		display: inline-block;
		margin: 0 4vw;
		div {
			display: none;
		}
	}
}

div.bin-timer-countdown {
	background: #EEE;
	display: inline-block;
	position: absolute;
	width: 20vh;
	line-height: 20vh;
	font-size: 8vh;
	right: 15px;
	bottom: 15px;
	color: #666;
	border-radius: 50%;
}