div.bombs-container {
	text-align: left;
	margin-left: 26vw;
	margin-right: 26vw;
	height: 70%;

	div.bomb {
		position: absolute;
		height: 10vh;
		width: 10vh;
		margin-right: 10vh;
		display: inline-block;
		border-radius: 50%;
		&.draggable-source--is-dragging {
			opacity: 0;
		}
		&.disabled {
			display: none;
		}
	}
}
